/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* GLOBAL */
:root {
  font-family: 'Rubik', sans-serif;
}

/* VARIABLES */
:root {
  --color-header-text: #4a4a4a;
  --color-main-background: #3cdbc0;
  --color-main-text: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.main {
  background-color: var(--color-main-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.navigation_menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 13px;
}

.menu_item {
  text-decoration: none;
  color: var(--color-header-text);
  padding: 20px;
}

.main_text {
  color: #ffffff;
  font-size: 30px;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
